<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Alterar Senha para o usuário [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Senha Alterada!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Um erro ocorreu!</strong> Sua senha não foi alterada!
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Sua senha e sua Confirmação de senha não coincidem!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nova Senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nova Senha"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Senha é obrigatória.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Senha deve conter ao mínimo 4 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Senha deve conter ao máximo 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Nova Senha Confirmação</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirme sua nova senha"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                           Senha confirmação é obrigatória.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Senha confirmação deve conter no mínimo 4 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Senha confirmação deve conter no máximo 50 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>
